:root{
  --var-dark-blue:rgb(2,12,68);
  --var-light-shaded-blue:rgb(32,37,75);
  --var-orange-clr: rgb(205,164,92);
  --var-green: rgb(58,186,113);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}

.footer{
  font-size: 0.9rem;
  color: white;
  background-color: var(--var-dark-blue);
  width: 100%;
}

.container1{
  padding-top: 0.5rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.address{
  width: 30rem;
  padding-left: 7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.address-box{
  text-align: center;
  background-color: var(--var-light-shaded-blue);
  padding: 0.4rem 1rem 1.4rem;
  border-bottom: 5px solid white;
}

.bottomLine{
  border-top: none;
  border-bottom: 1px solid var(--var-orange-clr);
}

.linksContainer{
  display: flex;
}

.listOne p,.listTwo p,.listThree p{
  color: var(--var-orange-clr);
}

.listOne p a,.listTwo p a,.listThree p a{
  text-decoration: none;
  color: white;
}

.linksContainer div p a:hover{
  color: var(--var-orange-clr);
}
.linksContainer div p{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.listOne,.listTwo,.listThree{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.linksContainer{
  width: 40rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3rem;
}

.listOne{
  width: 10rem;
}

.listTwo{
  width: 15rem;
}

.listThree{
  width: 10rem;
}

.footerImageIndiangov img,.footerImageIndianCode img,.footerImageSTQC img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.footerImageIndiangov{
  width: 7rem;
  align-self: center;
  cursor: pointer;
}

.footerImageIndianCode{
  width: 5rem;
}

.footerImageSTQC{
  width: 4rem;
  cursor: pointer;
}

.imageContainer{
  height: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

/* container 2 starts here!!!! */
.container2{
  width: 100%;
}
.updateStatus{
  text-align: end;
  padding-right: 9rem;
  color: #7FE771;
  font-weight: 600;
  padding-bottom: 1rem;
}

.copyrights,.designDescription{
  text-align: center;
  padding-bottom: 0.5rem;
}

.designDescription{
  font-size: 0.75rem;
  padding-bottom: 1rem;
}

/* fixed images */
.left-fixed-imaged img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.left-fixed-imaged{
  width: 3.5rem;
  background-color: white;
  position: absolute;
  top: 50%;
  left:0rem
}

.left-fixed-imaged:hover{
  background-color: grey;
}

.fixed-image{
  width: 3rem;
  background-color: white;
}

.fixed-image img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

.right-fixed-imaged{
  position: absolute;
  right: 0;
  top: 35%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

