:root{
  --var-dark-blue:rgb(2,12,68);
  --var-light-shaded-blue:rgb(32,37,75);
  --var-orange-clr: rgb(205,164,92);
  --var-green: rgb(58,186,113);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
}